.create-list_main{
    background-color: blueviolet;
    width: 100%;
    height: 100lvh;
}
.create_container{
    width: 86%;
    height: 100%;
    margin: 24px 0;
    border: 2px solid red;
}

 .header-buttons{
    width: fit-content;
 }